.rps {
  width: 550px;
  height: 125px;
  background: #2ecc71;
  margin-top: 60px;
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.52), 0 2px 5px rgba(0, 0, 0, 0.54);
  zoom: 1;
}

#logo {
  text-align: center;
  margin: 10px;
  font-weight: 600;
  color: #eee;
}

.rps .attacks {
  width: 96%;
  height: 400px;
  margin: 10px auto;
  border-radius: 4px;
}
.rps .attacks .button{
  background: #27ae60;
  float: left;
  margin: 6px 9px;
  height: 70px;
  width: 150px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.32), 0 1px 2px rgba(0, 0, 0, 0.34);
  font-size: 40px;
  font-weight: 400;
  color: #f9f9f9;
  text-align: center;
  padding-top: 8px;
}
.rps .attacks .button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}
.rps .attacks .op {
  margin-left: 25px;
}
