<div class="parent-container">
  <div class="child-container">
    <h2>Hello, Welcome lets find some food.</h2>
    <form>
      <div class="form-group">
        <div class="form-group col-lg-6 col-lg-offset-3 input-group">
        <form onsubmit="submit()">

            <input type="text" id="search_for" class="form-control" placeholder="What are you in the mood for?" [(ngModel)]="hungryFor" name="search_for">
            <input type="text" id="search_at" class="form-control" placeholder="Where do you want it?" [(ngModel)]="hungryAt" name="search_at">
            <button type="button" class="btn btn-info" (click)="submit(hungryFor, hungryAt)">Search</button>

        </form>

        <div *ngIf="isLoading" class="loading">
          <i class="fa fa-spinner fa-pulse"></i>
        </div>
      </div>
      </div>

    </form>
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-2">
      <div class="recipes">
        <ul class="list-group" *ngFor="let recipe of recipes">
          <div class="row">
            <li class="list-group-item">
                <h4>{{recipe.title}}</h4>
              <a href="{{recipe.page}}" class="list-group-item-text">{{ recipe.page }}</a>
              <span class="pull-right">
                <img src="{{recipe.image}}" style="width: 70px; height: 50px;" align="center"/>
              </span>
            </li>
          </div>
        </ul>
      </div>
    </div>

    <div class="col-lg-2"></div>

    <div class="col-lg-4">
      <div class=" restaurants">
        <ul class="list-group" *ngFor="let restaurant of restaurants">
          <div class="row">
            <li class="list-group-item">
                <h4>{{restaurant.title}}</h4>
              <span class="pull-right">
                   <a href="http://maps.google.com/maps?saddr={{restaurant.lat}},{{restaurant.log}}
                   &daddr={{restaurant.address}},{{restaurant.address}},{{restaurant.address}}">
                     <img src="../../assets/google.png" style="width: 30px; height: 30px;"></a>
              </span>
            </li>
          </div>
        </ul>
       </div>
    </div>
  </div>
</div>
